:root {
--zindex: 99999;

}


#jitsi-enhance-animation-container {
  /* border-top: 20px solid green; */
  /* border-right: 3px solid orange;
  border-bottom: 3px solid yellow; */

  background: transparent;
  width: 100%;
  height: 95vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
}

#jitsi-enhance-animation-container fieldset {
  border: 12px solid transparent;
  border-top-color: green;
  width: 85%;
  position: absolute;
  top: 5px;
  z-index: var(--zindex);
  -moz-animation: color-shift 4s cubic-bezier(0, 0.21, 0.32, 1.34) infinite;
  -webkit-animation: color-shift 4s cubic-bezier(0, 0.21, 0.32, 1.34) infinite;
  animation: color-shift 4s cubic-bezier(0, 0.21, 0.32, 1.34) infinite;
}

#jitsi-enhance-animation-container fieldset legend {
  font: 15pt/0 "Averia Serif Libre";
  margin: auto;
  padding: 0 4px;
}

.jitsi-enhance-animation-emoji {
  /* TODO: VARIABLE via JS */
  --emoji-size: 2rem;
  --emoji-rotation: 20deg;
  /* --animation-count: infinite; */
  --animation-count: 1;

  z-index: var(--zindex);
  height: 200px;
  font-size: var(--emoji-size);
  position: absolute;

  /* animation properties */
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);

  /* animation duration lineage animation-count */
  -moz-animation: jump-up-and-fade 4s cubic-bezier(0, 0.21, 0.32, 1.34)
    var(--animation-count);
  -webkit-animation: jump-up-and-fade 4s cubic-bezier(0, 0.21, 0.32, 1.34)
    var(--animation-count);
  animation: jump-up-and-fade 4s cubic-bezier(0, 0.21, 0.32, 1.34)
    var(--animation-count);
  animation-fill-mode: forwards;
}


#jitsi-enhance-animation-container input[type=range] {
  -webkit-appearance: none;
}

#jitsi-enhance-animation-container input[type=range]:focus {
  outline: 0 !important;
  border: 0 !important;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #053a5f;
  height: 3rem;
}


@keyframes color-shift {
  0% {
    border-top-color: green;
  }
  20% {
    border-top-color: blue;
  }
  40% {
    border-top-color: red;
  }
  60% {
    border-top-color: purple;
  }
  80% {
    border-top-color: yellow;
  }
  100% {
    border-top-color: pink;
  }
}

@keyframes jump-up-and-fade {
  0% {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    -moz-transform: translateY(-100%) rotate(var(--emoji-rotation));
    -webkit-transform: translateY(-100%) rotate(var(--emoji-rotation));
    transform: translateY(-100%) rotate(var(--emoji-rotation));
    opacity: 0;
  }
}


/* TODO: Another thing to replace */
/* 
* Scroll Text
* https://codepen.io/hubspot/pen/KKWxwLR?editors=1100
* 
*/

/* #scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
} */

#jitsi-enhance-animation-container .super-text {
  font-size: 8rem;
  font-weight: 700;
  color: white;
  font-style: italic;
  z-index: var(--zindex);

  position: absolute;
  top: 50%;
  left: 0;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  /* animation-direction: reverse; */

  -moz-animation: scroll-text-right 3s linear 1;
  -webkit-animation: scroll-text-right 3s linear 1;
  animation: scroll-text-right 3s linear 1;
}

/* for Firefox */
@-moz-keyframes scroll-text-right {
  0% { -moz-transform: translateX(-100%); }
  20% { -moz-transform: translateX(60%); }
  80% { -moz-transform: translateX(60%);  opacity: 1;}
  100% { -moz-transform: translateX(100%);  opacity: 0; }
}

/* for Chrome */
@-webkit-keyframes scroll-text-right {
  0% { -webkit-transform: translateX(-100%); }
  20% { -webkit-transform: translateX(60%); }
  80% { -webkit-transform: translateX(60%); opacity: 1; }
  100% { -webkit-transform: translateX(100%);  opacity: 0; }
}

@keyframes scroll-text-right {
  0% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  10% {
    -moz-transform: translateX(60%);
    -webkit-transform: translateX(60%);
    transform: translateX(60%);
  }

  90% {
    -moz-transform: translateX(60%);
    -webkit-transform: translateX(60%);
    transform: translateX(60%);
    opacity: 1;    
  }

  100% {
    -moz-transform: translateX(125%);
    -webkit-transform: translateX(125%);
    transform: translateX(125%);
    opacity: 0;
  }
}

/* TODO: Replace with animation library */
/* 
* Firework animation
* https://codepen.io/yshlin/pen/WNMmQX?editors=1100 
* 
*/

.pyro {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  z-index: var(--zindex);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -207px -279.6666666667px #00ffd9, -64px -377.6666666667px #ff5e00, -193px -283.6666666667px #0055ff, 228px -15.6666666667px #1e00ff, 108px -34.6666666667px #00f2ff, -37px -132.6666666667px #ee00ff, -68px -174.6666666667px #00ff26, -78px -220.6666666667px #fbff00, 71px -54.6666666667px #ff6f00, -52px 53.3333333333px #0037ff, 39px -381.6666666667px #00ffa2, 97px -250.6666666667px #b7ff00, -7px 28.3333333333px #0051ff, 147px -298.6666666667px #0022ff, 58px -411.6666666667px #bf00ff, -145px 1.3333333333px #9dff00, 212px -333.6666666667px #ff4800, -191px -408.6666666667px #ff7700, 182px -289.6666666667px #ff008c, -94px 33.3333333333px #2fff00, -1px -402.6666666667px #ffd000, -135px -189.6666666667px #ff0011, -242px -69.6666666667px #0077ff, -177px -182.6666666667px #e1ff00, 153px -11.6666666667px #2600ff, 239px -186.6666666667px #09ff00, 125px -265.6666666667px #ff9500, -156px -354.6666666667px #ffb300, -81px -201.6666666667px #c8ff00, 204px -199.6666666667px #ff1a00, 16px -70.6666666667px #04ff00, 74px -189.6666666667px #ff0037, -105px -253.6666666667px #ff9d00, -93px -66.6666666667px #77ff00, 184px -233.6666666667px #0066ff, -20px -149.6666666667px #00ff0d, -181px -312.6666666667px #ff0051, -199px -64.6666666667px #ff002f, 152px -209.6666666667px #ffd900, 18px -190.6666666667px #ff5e00, -219px -121.6666666667px #ff004d, -18px -114.6666666667px #0d00ff, 240px 0.3333333333px #00ff4d, 115px -311.6666666667px #ff1a00, -22px -18.6666666667px #ff5e00, 1px -350.6666666667px #0040ff, -220px -157.6666666667px #00ffe1, 18px -135.6666666667px #ff00bb, -232px -123.6666666667px #00eaff, 20px -390.6666666667px #005eff, -171px -371.6666666667px #00ff5e;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -207px -279.6666666667px #00ffd9, -64px -377.6666666667px #ff5e00, -193px -283.6666666667px #0055ff, 228px -15.6666666667px #1e00ff, 108px -34.6666666667px #00f2ff, -37px -132.6666666667px #ee00ff, -68px -174.6666666667px #00ff26, -78px -220.6666666667px #fbff00, 71px -54.6666666667px #ff6f00, -52px 53.3333333333px #0037ff, 39px -381.6666666667px #00ffa2, 97px -250.6666666667px #b7ff00, -7px 28.3333333333px #0051ff, 147px -298.6666666667px #0022ff, 58px -411.6666666667px #bf00ff, -145px 1.3333333333px #9dff00, 212px -333.6666666667px #ff4800, -191px -408.6666666667px #ff7700, 182px -289.6666666667px #ff008c, -94px 33.3333333333px #2fff00, -1px -402.6666666667px #ffd000, -135px -189.6666666667px #ff0011, -242px -69.6666666667px #0077ff, -177px -182.6666666667px #e1ff00, 153px -11.6666666667px #2600ff, 239px -186.6666666667px #09ff00, 125px -265.6666666667px #ff9500, -156px -354.6666666667px #ffb300, -81px -201.6666666667px #c8ff00, 204px -199.6666666667px #ff1a00, 16px -70.6666666667px #04ff00, 74px -189.6666666667px #ff0037, -105px -253.6666666667px #ff9d00, -93px -66.6666666667px #77ff00, 184px -233.6666666667px #0066ff, -20px -149.6666666667px #00ff0d, -181px -312.6666666667px #ff0051, -199px -64.6666666667px #ff002f, 152px -209.6666666667px #ffd900, 18px -190.6666666667px #ff5e00, -219px -121.6666666667px #ff004d, -18px -114.6666666667px #0d00ff, 240px 0.3333333333px #00ff4d, 115px -311.6666666667px #ff1a00, -22px -18.6666666667px #ff5e00, 1px -350.6666666667px #0040ff, -220px -157.6666666667px #00ffe1, 18px -135.6666666667px #ff00bb, -232px -123.6666666667px #00eaff, 20px -390.6666666667px #005eff, -171px -371.6666666667px #00ff5e;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -207px -279.6666666667px #00ffd9, -64px -377.6666666667px #ff5e00, -193px -283.6666666667px #0055ff, 228px -15.6666666667px #1e00ff, 108px -34.6666666667px #00f2ff, -37px -132.6666666667px #ee00ff, -68px -174.6666666667px #00ff26, -78px -220.6666666667px #fbff00, 71px -54.6666666667px #ff6f00, -52px 53.3333333333px #0037ff, 39px -381.6666666667px #00ffa2, 97px -250.6666666667px #b7ff00, -7px 28.3333333333px #0051ff, 147px -298.6666666667px #0022ff, 58px -411.6666666667px #bf00ff, -145px 1.3333333333px #9dff00, 212px -333.6666666667px #ff4800, -191px -408.6666666667px #ff7700, 182px -289.6666666667px #ff008c, -94px 33.3333333333px #2fff00, -1px -402.6666666667px #ffd000, -135px -189.6666666667px #ff0011, -242px -69.6666666667px #0077ff, -177px -182.6666666667px #e1ff00, 153px -11.6666666667px #2600ff, 239px -186.6666666667px #09ff00, 125px -265.6666666667px #ff9500, -156px -354.6666666667px #ffb300, -81px -201.6666666667px #c8ff00, 204px -199.6666666667px #ff1a00, 16px -70.6666666667px #04ff00, 74px -189.6666666667px #ff0037, -105px -253.6666666667px #ff9d00, -93px -66.6666666667px #77ff00, 184px -233.6666666667px #0066ff, -20px -149.6666666667px #00ff0d, -181px -312.6666666667px #ff0051, -199px -64.6666666667px #ff002f, 152px -209.6666666667px #ffd900, 18px -190.6666666667px #ff5e00, -219px -121.6666666667px #ff004d, -18px -114.6666666667px #0d00ff, 240px 0.3333333333px #00ff4d, 115px -311.6666666667px #ff1a00, -22px -18.6666666667px #ff5e00, 1px -350.6666666667px #0040ff, -220px -157.6666666667px #00ffe1, 18px -135.6666666667px #ff00bb, -232px -123.6666666667px #00eaff, 20px -390.6666666667px #005eff, -171px -371.6666666667px #00ff5e;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -207px -279.6666666667px #00ffd9, -64px -377.6666666667px #ff5e00, -193px -283.6666666667px #0055ff, 228px -15.6666666667px #1e00ff, 108px -34.6666666667px #00f2ff, -37px -132.6666666667px #ee00ff, -68px -174.6666666667px #00ff26, -78px -220.6666666667px #fbff00, 71px -54.6666666667px #ff6f00, -52px 53.3333333333px #0037ff, 39px -381.6666666667px #00ffa2, 97px -250.6666666667px #b7ff00, -7px 28.3333333333px #0051ff, 147px -298.6666666667px #0022ff, 58px -411.6666666667px #bf00ff, -145px 1.3333333333px #9dff00, 212px -333.6666666667px #ff4800, -191px -408.6666666667px #ff7700, 182px -289.6666666667px #ff008c, -94px 33.3333333333px #2fff00, -1px -402.6666666667px #ffd000, -135px -189.6666666667px #ff0011, -242px -69.6666666667px #0077ff, -177px -182.6666666667px #e1ff00, 153px -11.6666666667px #2600ff, 239px -186.6666666667px #09ff00, 125px -265.6666666667px #ff9500, -156px -354.6666666667px #ffb300, -81px -201.6666666667px #c8ff00, 204px -199.6666666667px #ff1a00, 16px -70.6666666667px #04ff00, 74px -189.6666666667px #ff0037, -105px -253.6666666667px #ff9d00, -93px -66.6666666667px #77ff00, 184px -233.6666666667px #0066ff, -20px -149.6666666667px #00ff0d, -181px -312.6666666667px #ff0051, -199px -64.6666666667px #ff002f, 152px -209.6666666667px #ffd900, 18px -190.6666666667px #ff5e00, -219px -121.6666666667px #ff004d, -18px -114.6666666667px #0d00ff, 240px 0.3333333333px #00ff4d, 115px -311.6666666667px #ff1a00, -22px -18.6666666667px #ff5e00, 1px -350.6666666667px #0040ff, -220px -157.6666666667px #00ffe1, 18px -135.6666666667px #ff00bb, -232px -123.6666666667px #00eaff, 20px -390.6666666667px #005eff, -171px -371.6666666667px #00ff5e;
  }
}
@keyframes bang {
  to {
    box-shadow: -207px -279.6666666667px #00ffd9, -64px -377.6666666667px #ff5e00, -193px -283.6666666667px #0055ff, 228px -15.6666666667px #1e00ff, 108px -34.6666666667px #00f2ff, -37px -132.6666666667px #ee00ff, -68px -174.6666666667px #00ff26, -78px -220.6666666667px #fbff00, 71px -54.6666666667px #ff6f00, -52px 53.3333333333px #0037ff, 39px -381.6666666667px #00ffa2, 97px -250.6666666667px #b7ff00, -7px 28.3333333333px #0051ff, 147px -298.6666666667px #0022ff, 58px -411.6666666667px #bf00ff, -145px 1.3333333333px #9dff00, 212px -333.6666666667px #ff4800, -191px -408.6666666667px #ff7700, 182px -289.6666666667px #ff008c, -94px 33.3333333333px #2fff00, -1px -402.6666666667px #ffd000, -135px -189.6666666667px #ff0011, -242px -69.6666666667px #0077ff, -177px -182.6666666667px #e1ff00, 153px -11.6666666667px #2600ff, 239px -186.6666666667px #09ff00, 125px -265.6666666667px #ff9500, -156px -354.6666666667px #ffb300, -81px -201.6666666667px #c8ff00, 204px -199.6666666667px #ff1a00, 16px -70.6666666667px #04ff00, 74px -189.6666666667px #ff0037, -105px -253.6666666667px #ff9d00, -93px -66.6666666667px #77ff00, 184px -233.6666666667px #0066ff, -20px -149.6666666667px #00ff0d, -181px -312.6666666667px #ff0051, -199px -64.6666666667px #ff002f, 152px -209.6666666667px #ffd900, 18px -190.6666666667px #ff5e00, -219px -121.6666666667px #ff004d, -18px -114.6666666667px #0d00ff, 240px 0.3333333333px #00ff4d, 115px -311.6666666667px #ff1a00, -22px -18.6666666667px #ff5e00, 1px -350.6666666667px #0040ff, -220px -157.6666666667px #00ffe1, 18px -135.6666666667px #ff00bb, -232px -123.6666666667px #00eaff, 20px -390.6666666667px #005eff, -171px -371.6666666667px #00ff5e;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}