#jitsi-extend-animation-container {
  border: 3px solid red;
  border-radius: 5px;
  height: 95vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: static;
}

.jitsi-extend-animation-emoji {
  /* TODO: VARIABLE via JS */
  --emoji-size: 2rem;
  --emoji-rotation: 20deg;
  /* --animation-count: infinite; */
    --animation-count: 1;

  height: 200px;
  font-size: var(--emoji-size);
  position: absolute;

  /* animation properties */
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);

  /* animation duration lineage animation-count */
  -moz-animation: jump-up-and-fade 4s cubic-bezier(0, 0.21, 0.32, 1.34)
    var(--animation-count);
  -webkit-animation: jump-up-and-fade 4s cubic-bezier(0, 0.21, 0.32, 1.34)
    var(--animation-count);
  animation: jump-up-and-fade 4s cubic-bezier(0, 0.21, 0.32, 1.34)
    var(--animation-count);
    animation-fill-mode: forwards; 

}

@keyframes jump-up-and-fade {
  0% {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    -moz-transform: translateY(-100%) rotate(var(--emoji-rotation));
    -webkit-transform: translateY(-100%) rotate(var(--emoji-rotation));
    transform: translateY(-100%) rotate(var(--emoji-rotation));
    opacity: 0;
  }
}
